<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income Classifier</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body class="bg-gray-200 min-h-screen flex flex-col justify-items-center items-center">
    <header class="bg-gradient-to-b from-gray-800 to-gray-900 text-white w-full">
        <div class="max-w-4xl w-full mx-auto text-center px-4 pt-16 pb-48">
            <h1 class="text-center text-5xl font-bold mb-2">Mobile Wallet Recognition</h1>
            <p class="text-xl text-white opacity-75">Predict your income something something bla bla bla (todo)</p>
        </div>
    </header>

    <main id="app" class="bg-white max-w-4xl w-full mx-auto rounded-lg shadow-lg p-8 -mt-32 mb-8">
        <form v-if="!isResult" @submit.prevent="fetchResult" class="flex flex-col items-center justify-items-center">
            <div class="pb-8 flex flex-col w-full items-center justify-items-center">
                <h3 class="uppercase mb-4 text-gray-400 tracking-widest">Inputs</h3>

                <div v-else class="flex flex-col border w-full items-center justify-center py-24 rounded bg-gray-50">
                    <input type="file" name="input_file" id="input_file">
                </div>
            </div>
            
            <div class="flex w-full md:w-2/3 mt-8">
                <button class="bg-gradient-to-b font-bold mx-auto from-green-500 to-green-600 hover:from-green-600 hover:to-green-600 text-white text-xl px-6 py-2 rounded shadow-md w-full md:w-2/3" type="submit">
                    Predict
                </button>
            </div>
        </form>

        <div v-else class="w-full flex flex-col items-center justify-items-center">
            {% raw %}
            <p v-if="error != null">
                Error: {{ error }}
            </p>
            {% endraw %}
            
            <p v-else-if="result == null" class="text-center py-32 text-2xl animate-pulse">Fetching results...</p>

            <div v-else class="w-full md:w-2/3 flex flex-col md:flex-row">
                <!-- <div class="w-full md:w-1/2 border-b md:border-b-0 md:border-r px-4 pb-0 pb-4 md:pb-0">
                    <h3 class="text-center uppercase mb-4 text-gray-400 tracking-widest">Inputs</h3>
                    {% raw %}
                    <ul class="list-disc">
                        <li :key="'input_' + idx" v-for="(input, idx) in result.inputs">
                            {{ input }}
                        </li>
                    </ul>
                    {% endraw %}
                </div> -->

                <div class="w-full md:w-1/2 px-4 pt-4 md:pt-0">
                    <h3 class="text-center uppercase mb-4 text-gray-400 tracking-widest">Prediction</h3>
                    {% raw %}
                    <div class="py-24 text-center">
                        <h3 class="mb-2 font-bold text-3xl text-green-600">
                            {{ result.prediction }}
                        </h3>
                    </div>
                    {% endraw %}
                </div>
            </div>

            <div v-if="error != null || result != null" class="flex w-full md:w-2/3 mt-8">
                <button @click="isResult = false" class="bg-gradient-to-b font-bold mx-auto from-green-500 to-green-600 hover:from-green-600 hover:to-green-600 text-white text-xl px-6 py-2 rounded shadow-md w-full md:w-2/3" type="submit">
                    Predict Again
                </button>
            </div>
        </div>
    </main>

    <footer class="text-gray-500 mb-8">
        <p>Copyright &copy; 2022 Ned Palacios. <a href="https://github.com/nedpals/receipt-recognition-dl-keras" class="hover:underline">GitHub Repo</a></p>
    </footer>

    <script>
        const { createApp } = Vue;

        createApp({
            data() {
                return {
                    isResult: false,
                    result: null,
                    error: null
                }
            },
            methods: {
                buttonCss(isActive) {
                    if (isActive) {
                        return 'from-blue-300 to-blue-500 hover:from-blue-400 hover:to-blue-600 text-white';
                    }
                    return 'from-white to-gray-100 hover:from-gray-100 hover:to-gray-200';
                },
                fetchResult(evt) {
                    if (!evt || !(evt.target instanceof HTMLFormElement)) return;
                    this.isResult = true;
                    this.result = null;
                    this.error = null;

                    const formData = new FormData(evt.target);
                    
                    fetch('/prediction', {
                        method: 'POST',
                        body: formData
                    })
                        .then((resp) => resp.json())
                        .then((json) => {
                            this.result = json;
                        })
                        .catch((err) => {
                            console.error(err);
                            this.error = `${err}`;
                        });
                }
            }
        }).mount('#app');
    </script>
</body>
</html>